<h1>Ick bin unooofindbar</h1>

<p>Um mich zu sehen, muss man <a href="/app_dev.php/_error/404">/app_dev.php/_error/404</a> aufrufen, siehe https://symfony.com/doc/current/controller/error_pages.html#testing-error-pages-during-development</p>