{% extends 'base.html.twig' %}

{% block body %}
    <ul id="wrapper">
        <li><a href="{{ path('blog_index') }}">Browse Application</a></li>
        <li><a href="{{ path('admin_index') }}">Browse Backend</a></li>
    </ul>
{% endblock %}
