{% extends 'base.html.twig' %}

{% block outerbody %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
                {{ "now"|date("H:i:s") }}
            </div>
        {% endfor %}
    {% endfor %}

    <a href="{{ path('certification_dispatcher') }}">event dispatcher</a>
{% endblock %}