{% extends 'base.html.twig' %}

{% block body %}
    <h1>Meine tollen blogposts</h1>
    {% for bp in bps %}
        <ul>
            <li><a href="{{ path('blog_show', {slug: bp.slug}) }}">{{ bp.title }}</a></li>
            <li>{{ bp.content | slice(1,200) }} ...</li>
            <li>{{ bp.publicationdate | date("M d, Y, H:m:s") }}</li>
        </ul>
    {% endfor %}
{% endblock %}